body{
    background-color:#BED6C7;
    
}

h1{
    text-align: center;
    height: fit-content;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:#BBB2A1;
    border: solid, 5px, #8A7E66;
}



h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  background-color:#BBB2A1;
    width:30%;
    text-align: center;
    border: solid, 5px, #8A7E66;
}


nav{
    width:30%;
  background-color:#BBB2A1;
    border: solid, 5px, #8A7E66;

}
ul{
  background-color:#BBB2A1;
    
    list-style-type:square;
}
li{
  background-color:#BBB2A1;
    border: solid, 1px, #8A7E66; 
    text-align: center;
    margin-top: 10px;
}
a{
  background-color:#BBB2A1;
    font-family: sans-serif;
    font-size: larger;
    text-decoration: none;
}

.nav-previous-next{
    width:100%;
  background-color:#BBB2A1;
    border: solid, 5px, #8A7E66;
}

.nav-previous-next li{
    box-sizing: border-box;
   margin-left: 20%;
    display:inline;
}


